.head-div {
  background-color: rgb(129, 151, 151);
}

.menu-div {
  justify-content: space-evenly;
  display: flex;
}
button {
  background-color: black;
  margin-bottom: 10px;
  color: aliceblue;
}
